<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <div class="header">
      <h1>Connecticut Books for Sale</h1>
	  <div class="topnav">
	  <script src="list.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <button onclick = "window.location.href = 'homepage.html';">Home</button>
      <!--  <button onclick = "window.location.href = 'cart.html';">Your Cart</button> -->
      <form action="getBook"><input type="submit" name="id" value="Your Cart"></form>
      <button type="Add to cart">Your Account</button>
	  </div>
	  <link href="style.css" rel="stylesheet">
   </div>
  </head>
<body>
<h1>Process handled, return to previous page</h1>
<h2></h2>
<a href="/"></a>
</body>
</html>